*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:  0.4s ease;
    font-family: 'Oswald';
    
    
}
@font-face {
    font-family:Oswald ;
    src: url(./accsent/font/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: quicksand;
    src: url(./accsent/font/Quicksand/Quicksand-VariableFont_wght.ttf);
}
body{
    position: relative;
    right: 0;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s ease;
    z-index: 10000;
}
.nav{
  
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
    align-items: center;
    
    
    

}
.left{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav li{
    text-decoration: none;
    list-style: none;
    font-size: 0.6em;
    font-family: Oswald;
    padding: 0.5em;
    margin: 0 8px;
    flex-wrap: nowrap;
    transition: 0.1s ease;
}
li a{

    text-decoration: none;
    list-style: none;
    color: rgb(55, 55, 55);
}
.btntimkiem,.btngiohang{
    cursor: pointer;
    color: rgb(55, 55, 55);
}

.btngiohang:hover{
    color: black;
}
.btntimkiem:hover{
    color: black;
}
select{
    background-color: black;
    color: #fff;
    font-size: 1em;
    font-family: Oswald;
}

.logo img{
    width: 200px;
    object-fit: cover;

}
.menu{
    display: flex;
    justify-content: space-around;
}
.acc{
    display: flex;
}
.nav a {
    transition: 0.1s ease;
}
.nav a:hover {
    color: black;
}


.menu li:hover {
    background-image: url(./accsent/img/269858510_400978881784237_2773069039765727977_n_1dec697e894b44028881c14c6507f7d8.webp
    );
    background-size: 30px 20px;
    background-repeat: no-repeat;
    color: black;
    
    
    
}
.textslideshow{
    
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 32px 0;
    
    
}
.textslide{
    position: relative;
    width: auto;
    animation: textshow 30s linear infinite;
    white-space: nowrap;
    right: -100%;
    margin: 0 180px;
    
}
.textslide span p{
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    color:#fff ;
    text-shadow: -1px -1px 1px black,  
    1px -1px 1px black,   
    -1px 1px 1px black,  
    1px 1px 1px black;

}
.text2{
    margin: 0 60px;
}

@keyframes textshow {
    
    0%{
        right: -100%;

    }
    100%{
        right: 100%;
    }
}
.slideshowfooter{
    position: fixed;
    bottom: 0;

    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    
    z-index: 100000;
    background-color: black;
    height: 40px;
    align-items: center;


    
}
.textfooter{
    position: relative;
    display: flex;
    width: auto;
    animation: textshow 22s linear infinite;
    white-space: nowrap;
    right: -100%;
    margin: 0 200px;
    
    font-family: Oswald;
}
.mess-text-title {
    color: #00ca8d;
    line-height: 1.25;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-right: 8px;
}
.mess-text-sub {
    color: #fff;
    line-height: 1.25;
    font-size: .7rem;
    margin-bottom: 0;
}
footer{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
footer li {
    
    font:inherit ;
    vertical-align: baseline;
    font-family: quicksand;
    font-size: 12px;
    color: black;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-left: 20px;
    
}
.accout{
    position: relative;
    
}
.login{
    padding:0 6px;
}
.signup{
    padding:0 6px;
}
.login::before{
    content: '/';
    position: absolute;
    font-size: 16px;
    
    right: 46px;
    bottom: 3px;
    

}
footer{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
footer li {
    
    font:inherit ;
    vertical-align: baseline;
    font-family: quicksand;
    font-size: 12px;
    color: black;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-left: 20px;
    
}
 .titlefooter{
    font-family: Oswald;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 20px;
    color: #212b36;
}
.content1 li{
    list-style: none;
    margin-left: 0px;
}


.col4{
    width: 22%;
}
.content4 img{
    width: 150px;
}
.social a{
    color: #5d5d60;
    font-size: 30px;
    
}
.social{
    margin: 22px 0;
}
footer{
    margin-bottom: 50px;
}
.col4s{
    width: 25%;
}
.heart{
    position:fixed;
    bottom: 60px;
    left: 60px;
    height: 60px;
    width: 60px;
    border-radius: 90%;
    background-color: rgb(253, 249, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}
.boderheart{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 57, 80);
    border-radius: 90%;
    
    
}
.boderheart i{
    color: white;
    font-size: 20px;
    transition: .3s;
}
.heart:hover i{
    transform: scale(1.4);

}
.messenger:hover i{
    transform: scale(1.2);

}

.messenger{
    position:fixed;
    bottom: 60px;
    right: 60px;
    height: 60px;
    width: 60px;
    border-radius: 90%;
    background-color: rgb(53, 106, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10000;
}
.messenger i{
    font-size: 35px;
    color: white;
    transition: .3s;
}



.timkiem{
    width: 32%;
    height: 100vh;
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -32%;
    z-index: 100000;
    transition: .4s linear;
}
.giohang{
    width: 32%;
    height: 100vh;
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -32%;
    z-index: 100000;
    transition: .4s linear;

}
.giohang .content{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 3px solid black;
}
.spgiohang{
    padding: 30px;
}
.spgiohang .contentform{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(195, 195, 195, 0.653);
}
.giohang .anh {
    border: 1px solid rgba(195, 195, 195, 0.653);
    width: 24%;
    margin: 18px;
}
.leftsp{
    display: flex;
    align-items: center;
}

.giohang .anh img{
    width: 100%;
    height: auto;
}
.spgiohang .price{
    display: flex;
}
.soluong{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4d4d4da;
    padding: 6px;
    margin-right: 6px;
}
.pricetotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Oswald;
    margin: 18px 0;
}
.thongtin .size{
    margin: 8px 0;
}
.giohang .thongtin{
    font-size: 13px;
    font-family: Oswald;
}
.giohang .thongtin .name{
    font-weight: bold;
}
.title{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    margin-top: 12px;
   
}
.title .close i{
    color: black;
    cursor: pointer;
    background-color: white;
    font-size: 28px;
    
}
.close{
    border: none;
    background-color: transparent;
}
.search{
    width: 100%;
    padding: 44px;
    
    font-size: 18px;
}
.search input:focus{
    background-color: rgb(250, 250, 250);
}
.title h2{
    font-size: 18px;
    font-family: Oswald;
    font-weight: bold;
    
}
.sanphamtimkiem{
    padding: 12px 44px;
    overflow: auto;
    height: 62vh;
}
.sanphamtimkiem::-webkit-scrollbar {
    width: 2px;
    background-color: #ffffff;
    
}
.sanphamtimkiem::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.spsearch{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.203);
    position: relative;
    
}
.ifspsearch span{
    text-decoration:underline;
}
.spsearch a{
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
    position: absolute;
}

.imgspsearch {
    flex: 1;
   
}
.ifspsearch{
    flex: 1;
    font-size: 13px;
}
.imgspsearch img{
    width: 36%;
    float:right;
}
.search input{
    width: 100%;
    height: 62px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-weight: 500;
    padding: 12px;
    background-color: #f1f1f1;
}
.backgroundmo{
    width: 68%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.577);
    position: fixed;
    top: 0;
    z-index: 100000;
    transition: 0.4s linear;
    left: -68%;
}
.active{
    right:0 ;
}

.active2{
    right: 32%;
}
.active3{
    left: 0;
}
.btnxemgiohang {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    margin: 14px 0;
    cursor: pointer;
  }
  .xemgiohang{
    background-color:rgb(15, 15, 15); 
    border: none;
  }


  
  .xemgiohang span {
    color: white;
    font-size: 14px;
    font-family: Oswald;
    font-weight: 400;
  }
  
  .btnxemgiohang::before {
    width: 150px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
  }
  
  .btnxemgiohang:hover::before {
    transition-duration: .5s;
    transform: translate(100%,-50%);
    border-radius: 0;
  }
  
  .btnxemgiohang:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
  }
  .btngiohang{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0;
  }

.image-link{
    position: absolute; /* Đặt thẻ <a> trong vị trí tương đối đối với phần tử cha */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    
}