.loginfont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.login{
    width: 35%;
    height: auto;
    font-family: Oswald;
}
.login input{
    width: 100%;
    background-color: rgb(235, 233, 233);
    padding: 20px;
    border: none;
    margin-bottom: 24px ;
}
/* .loginbtn{
    width: 100%;
    overflow: hidden;
} */

/* #btnlogin{
    width: 100px;
    height: auto;
    padding: 12px;
    font-family: Oswald;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 16px 0;
    position: relative;
} */

.loginbtn {
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    margin: 14px 0;
    margin: 18px 0;
  }
  #btnlogin{
    background-color:rgb(15, 15, 15); 
    border: none;
  }

  .login h2{
    margin-bottom:12px ;
    font-size: 18px;
  }

  
  #btnlogin span {
    color: white;
    font-size: 18px;
    font-family: Oswald;
    font-weight: 400;
  }
  
  .loginbtn::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
  }
  
  .loginbtn:hover::before {
    transition-duration: .5s;
    transform: translate(100%,-50%);
    border-radius: 0;
  }
  
  .loginbtn:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
  }
.login a{
    text-decoration: none;
    color: black;
}
#password{
  margin-bottom: unset;
}
.error{
  color: red;
  font-size: 12px;
}
.gioitinh{
    /* display: inline-flex;
    align-items: center; */

    
    font-family: Oswald;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}
.gioitinh #gtnam,#gtnu{
  width: 16px;
  height: 16px;
  
}


.gioitinh span {
  margin-right:16px ;
  margin-left: 6px;
  

}
.login input:focus{

    background-color: white;
    border: 1px solid rgb(185, 185, 185);
    outline: none;
}
.login .red{
  color: red;
}
.login a{
  margin-right:16px ;
  text-decoration: underline;
}
